/* Asegúrate de que el body y el html ocupen todo el alto de la ventana */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para la barra de navegación */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #f8f8f8; /* Puedes cambiar el color de fondo según tu diseño */
}

.navbar button, .navbar a {
  margin: 0 10px;
}

/* Estilos para la sección de herramientas */
.tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tool-buttons {
  display: flex;
  flex-direction: column; /* Alinea los botones en columnas */
  align-items: center;    /* Centra las columnas de botones */
}

.button_tools {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Estilos para el pie de página */
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: black; /* Puedes cambiar el color de fondo según tu diseño */
  position: absolute;
  bottom: 0;
  color: white;
}
