body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
}

.login {
  display: flex;
  justify-content: flex-start; /* Alineamos los elementos al inicio (izquierda) */
  align-items: center;
  background-color: #000; /* Fondo negro */
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.login .left {
  display: flex;
  align-items: center;
}

.login a, .login button {
  color: #fff; /* Texto blanco */
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.login a:hover, .login button:hover {
  background-color: #333; /* Fondo gris oscuro al pasar el mouse */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px; /* Aseguramos espacio suficiente para el login fijo */
}

.tools {
  background-color: #fff; /* Fondo blanco */
  border-radius: 3px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 360px;
  text-align: center;
}

h1 {
  padding: 0px;
  margin: 0px;
  color: #000; /* Texto negro */
  margin-bottom: 2rem;
}

.button_tools {
  padding: 1rem;
  border: 2px solid #000; /* Borde negro */
  border-radius: 3px;
  margin-bottom: 1rem;
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.button_tools:hover {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
  width: 100%;
  display: block;
}

.auth-visible {
  width: 100px;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.cookie-banner button {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  .tools {
    max-width: 480px;
  }
}