body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 5s ease-in-out;
}

.background.bg1 {
  z-index: 1;
}

.background.bg2 {
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: black;
}

.navbar button:hover, .tool-buttons button:hover {
  background-color: #6e6b6b;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  text-align: center;
  margin-top: 60px; /* Offset for navbar */
}

.tool-h1 {
  margin: 10px 0 0 0;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tool-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}